<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>points</key>
		<integer>0</integer>
		<key>time</key>
		<integer>0</integer>
		<key>accuracy</key>
		<integer>0</integer>
		<key>numberOfThrows</key>
		<integer>0</integer>
		<key>numberSuccThrows</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
